@model List<Maestro>
@{
    ViewData["Title"] = "List Masters";
}

<h2>Detalle Masters</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Rol</th>
            <th>Vendedor</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FactNum</td>
                <td>@item.Referencia</td>
                <td>@item.Vendedor</td>
                <td>@item.Fecha</td>
            </tr>
        }
    </tbody>
</table>
